.text-color-1{
    color:#CC3333;/*rojo ch*/
}
.text-color-2{
    color:#C0C7C8;/*plomo claro ch*/
}
.text-color-3{
    color:#808080;/*plomo oscuro ch*/
}
.back-color-1{
    background:#CC3333;/*rojo ch*/
}
.back-color-2{
    background:#C0C7C8;/*plomo claro ch*/
}
.back-color-3{
    background:#808080;/*plomo oscuro ch*/
}